:root{
    --gray-gradient: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(159,159,159,0.5) 100%);
}

/* header */
header {
    display: grid;
    grid-template-areas:
        "logo nav"
        "phrase nav";
    grid-template-columns: 1fr 1fr;
}

header #logo-container {
    grid-area: logo;
    display: flex;
    align-items: center;
    width: 105%;
    height: 100px;
    background-color: #fff;
    mix-blend-mode: normal;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 30px 30px 0px;
    z-index: 1;
    transform: translateY(15px);
}

header #logo-container img {
    margin-left: 30px;
    width: 120px;
    height: 65px;
}

header #logo-container p {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    color: #747474;
    max-width: 300px;
    line-height: 26px;
    display: inline-block;
    margin-left: 20px;
}

header h1 {
    grid-area: phrase;
    justify-self: center;
    margin: 0px 10px 80px 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 2px;
    text-align: left;
    font-size: 45px;
    max-width: 500px;
    background: #fff;
}

header #ornament {
    box-sizing: border-box;
    grid-area: nav;
    height: 550px;
    background-color: #ff0000;
    background-image: url(../IMG/ornament.png);
    background-image: 
        -webkit-image-set(
            url(../IMG/ornament.webp) type("image/webp"),
            url(../IMG/ornament.png) type("image/png")            
        );
    background-image: 
        image-set(
            url(../IMG/ornament.webp) type("image/webp"),
            url(../IMG/ornament.png) type("image/png")            
        );
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transform: translateX(-15px);
}

header #ornament nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    transform: translateY(15px);
}

header nav svg {
    width: 38px;
    height: 38px;
    stroke: none;
    stroke-width: 1;
    stroke-linecap: square;
    stroke-linejoin: miter;
    fill: #FFF;
}

header nav .badge{
    display: none;
}

header nav .badge-active{
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    width: 15px;
    height: 15px;
    padding: 5px;
    font-size: 10px;
    font-weight: 100;
    top: -17px; right: 0px;
}

header #ornament nav ul.menu>li:last-child a span {
    display: none;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    line-height: 26px;
    letter-spacing: 0.05em;
}


header #ornament #btn-mobile {
    display: none;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    background: none;
    gap: 10px;
    cursor: pointer;
}

header #ornament nav #btn-mobile span {
    width: 20px;
    border-top: 4px solid;
    color: #fff;
    border-radius: 4px;

}

header #ornament nav #btn-mobile span::after,
header #ornament nav #btn-mobile span::before {
    content: "";
    width: 20px;
    height: 4px;
    margin-top: 5px;
    background: currentColor;
    display: block;
    transition: .3s;
    position: relative;
    border-radius: 0px 0px 4px 4px;
}

header #ornament nav #btn-mobile span::before {
    border-radius: 4px;
}



header #ornament nav ul.menu {
    display: flex;
    align-items: center;
    -moz-column-gap: 70px;
         column-gap: 70px;
}

header #ornament nav ul.menu li,
header #ornament nav ul.menu li a {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    position: relative;
}


header #ornament nav a[href="favoritos"] {
    font-size: 35px;
}

header #ornament nav ul.menu>li:nth-child(2) {
    position: relative;
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
    transition: background-color .4s ease-out;
}

header #ornament nav ul.menu>li:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.33);
    box-shadow: 0px 15px 80px 20px rgba(0, 0, 0, 0.26);
}

header #ornament nav ul.menu>li:nth-child(2):hover .submenu {
    opacity: 1;
    pointer-events: auto;
}

header #ornament nav ul.submenu {
    transition: opacity .2s ease;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: #fff;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    left: 0px;
    top: 80%;
    border-radius: 15px;
    box-shadow: 0px 15px 80px 20px rgba(0, 0, 0, 0.26);
    overflow: hidden;
}

header #ornament nav ul.submenu li{
    padding: 10px 25px;
    position: relative;
}
header #ornament nav ul.submenu li:first-child {
    padding-top: 15px;
}
header #ornament nav ul.submenu li:last-child {
    padding-bottom: 15px;
}
header #ornament nav ul.submenu li:not(:first-child)::before {
    content: "";
    display: block;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #dfdfdf;
    position: absolute;
    bottom: 100%;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
}

header #ornament nav ul.submenu li:hover {
    background-color: rgba(223, 223, 223, .9);
}

header #ornament nav ul.submenu li a{
    display: inline-block;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}

@media all and (max-width: 1540px) {
    header #ornament nav ul.menu {
        -moz-column-gap: 40px;
             column-gap: 40px;
    }
}

@media all and (max-width: 1280px) {
    header #logo-container {
        width: 100%;
    }

    header #ornament nav ul.menu {
        -moz-column-gap: 40px;
             column-gap: 40px;
    }
}

@media all and (max-width: 1180px) {
    header #logo-container img{
        transform: scale(.92);
    }

    header #ornament nav {
        justify-content: flex-end;
    }

    header nav svg {
        fill: #000;
    }
    header nav .badge-active{
        display: none;
    }

    header #ornament nav ul.menu {
        display: none;
        overflow: hidden;
    }

    header #ornament nav ul.menu > li {
        width: 100%;
        padding: 10px;
    }

    header #ornament nav ul.menu li a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        color: #000;
    }

    header #ornament nav ul.menu > li:hover{
        background-color: #dfdfdf;
    }

    header #ornament nav ul.menu > li:last-child a span {
        display: inline-block;
        color: #000;
        margin-right: 10px;
    }

    header #ornament nav ul.menu > li:last-child a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header nav svg{
        width: 26px;
        height: 26px;
    }

    .fa-heart::before {
        font-size: 25px;
    }

    header #ornament nav.active-menu ul.menu {
        position: absolute;
        top: calc(100% - 30px);
        right: 10px;
        display: flex;
        flex-direction: column;
        background-color: rgba(256, 256, 256, 1);
        border-radius: 15px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    }

    header #ornament nav #btn-mobile {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }

    header #ornament nav.active-menu #btn-mobile span {
        border-top-color: transparent;
    }

    header #ornament nav.active-menu #btn-mobile span::after {
        transform: rotate(135deg);
        top: -9px;
        border-radius: 4px;
    }

    header #ornament nav.active-menu #btn-mobile span::before {
        transform: rotate(-135deg);
    }

    header #ornament nav ul.menu li:nth-child(2) {
        display: none;
    }

}

@media all and (max-width: 812px) {
    header {
        grid-template-areas:
            "logo nav"
            "phrase phrase";
    }

    header #ornament {
        height: 120px;
        background-image: url(../IMG/ornament-form.png);
        background-image: 
            -webkit-image-set(
                url(../IMG/ornament-form.webp) type("image/webp"),
                url(../IMG/ornament-form.png) type("image/png")
            );
        background-image: 
            image-set(
                url(../IMG/ornament-form.webp) type("image/webp"),
                url(../IMG/ornament-form.png) type("image/png")
            );
        border-radius: 25px;
    }

    header h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        justify-self: left;
        margin-left: 80px;
        font-size: 40px;
        line-height: 50px;
    }
    header #logo-container{
        height: 90px;
        border-radius: 0px 25px 25px 0px;
    }
    header #logo-container img{
        transform: scale(.88);
    }
    header #logo-container p{
       margin-left: 10px;
    }
}

@media all and (max-width: 752px) {
    header #logo-container p {
        font-size: 18px;
        line-height: 21px;
    }
}

@media all and (max-width: 620px) {
    header {
        grid-template-areas:
            "logo nav"
            "phrase phrase";
        margin-top: 10px;
    }

    header h1 {
        margin: 40px 10px 40px 30px;
        font-size: 36px;
        line-height: 45px;
    }

    header #ornament {
        height: 100px;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
        border-radius: 0px 20px 20px 0px;
        margin-right: 15px;
        transform: translateX(0px);
    }

    header #logo-container {
        justify-content: center;
        width: auto;
        transform: translateY(0px);
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
        z-index: 0;
        border-radius: 20px 0px 0px 20px;
        margin-left: 15px;
        height: 80px;
    }

    header #logo-container img {
        width: 91px;
        height: 49px;
        margin: 0px;
    }

    header #logo-container p {
        display: none;
    }

    header #ornament {
        height: 80px;
    }
    header #ornament nav {
        transform: translateY(0px);
        height: 100%;
    }

    header #ornament nav ul.menu > li,
    header #ornament nav ul.menu > li a {
        font-size: 18px;
    }
    header #ornament nav ul.menu > li:last-child a span{
        font-size: 18px;
    }
    header #ornament nav ul.submenu li a{
        font-size: 16px;
    }
}

/* categories */
nav.categories{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
    max-width: 1920px;
    margin: 0 auto;
    transform: translateY(-90px);
    position: relative;
}

nav.categories a{
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    width: 300px;
    padding: 20px 0;
    color: #fff;
    background-color: #D91919;
    border-radius: 5px;
    box-shadow: 8px 5px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}
nav.categories a:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

nav.categories a[href="Papelaria"]::before{
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: -40px;
    width: 70px;
    height: 70px;
    background-image: url(../IMG/icones/Clip_perspective_matte_s1.png); /*fallback*/
    background-image: 
        image-set(
            url(../IMG/icones/Clip_perspective_matte_s1.webp) type("image/webp"),
            url(../IMG/icones/Clip_perspective_matte_s1.png) type("image/png")
        );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
nav.categories a[href="Papelaria"]:hover::before{
    animation: shakeclip 1s ease-in-out;
}

@keyframes shakeclip{
    0%, 100%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(10px) skew(10deg);
    }
    50%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(10px);
    }
}
nav.categories a[href="Artigos-Festa"]::before{
    content: "";
    display: block;
    position: absolute;
    top: -30px;
    left: -30px;
    width: 59px;
    height: 66px;
    background-image: url(../IMG/icones/Ping_Pong_perspective_matte1.png); /*fallback*/
    background-image: 
        image-set(
            url(../IMG/icones/Ping_Pong_perspective_matte1.webp) type("image/webp"),
            url(../IMG/icones/Ping_Pong_perspective_matte1.png) type("image/png")
        );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
nav.categories a[href="Artigos-Festa"]:hover::before{
    animation: shakepong 1s ease-in-out;
}
@keyframes shakepong{
    0%, 100%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(10px) skew(-10deg);
    }
    50%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(10px);
    }
}

nav.categories a[href="Utensilios-Cozinha"]::before{
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    right: -8px;
    width: 73px;
    height: 77px;
    background-image: url(../IMG/icones/Teapot_perspective_matte1.png);
    background-image:
        image-set(
            url(../IMG/icones/Teapot_perspective_matte1.webp) type("image/webp"),
            url(../IMG/icones/Teapot_perspective_matte1.png) type("image/png")
        );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
nav.categories a[href="Utensilios-Cozinha"]:hover::before{
    animation: shakecozinha 1s ease-in-out;
}
@keyframes shakecozinha{
    0%, 100%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(8px) rotateX(30deg);
    }
    50%{
        transform: translateY(-8px);
    }
    75%{
        transform: translateY(8px);
    }
}
nav.categories a[href="Miudezas"]::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    right: -25px;
    width: 98px;
    height: 98px;
    background-image: url(../IMG/icones/Shopping_cart_perspective_matte_s1.png);
    background-image: 
        image-set(
            url(../IMG/icones/Shopping_cart_perspective_matte_s1.webp) type("image/webp"),
            url(../IMG/icones/Shopping_cart_perspective_matte_s1.png) type("image/png")
        );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
nav.categories a[href="Miudezas"]:hover::before{
    animation: shakecozinha 1s ease-in-out;
}

@media all and (max-width: 1280px){
    nav.categories{
        max-width: 900px;
    }
}

@media all and (max-width: 812px){
    nav.categories{
        transform: translateY(0px);
        z-index: -1;
    }
}

@media all and (max-width: 680px){
    nav.categories{
        transform: translateY(0px);
        z-index: -1;
    }
    nav.categories a{
        font-size: 16px;
    }
    nav.categories a[href="Artigos-Festa"]::before{
        top: -15px;
        right: -35px;
        left: auto;
        width: 65px;
        height: 72px;
    }
    nav.categories a[href="Utensilios-Cozinha"]::before{
        top: -8px;
        left: -30px;
        right: auto;
    }
}

@media all and (max-width: 368px) {
    nav.categories a{
        font-size: 14px;
        width: 250px;
    }
}

/* highlights */
section.highlights{
    position: relative;
    display: flex;  
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    justify-content: center;
}
.highlights .container{
    width: 100%;
    padding: 45px 30px;
}
.product-card{
    background-color: #fff;
    box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 15px;
    transition: transform 200ms ease-out;
}
.product-card:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-15px) scale(1.03);
}

.content-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.product-img{
    max-width: 280px;
    height: 260px;
    background-color: #fff;
    align-self: center;
}
.product-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.content-card i{
    position: absolute;
    top: 30px;
    right: 30px;
}

.highlights h2, 
.products h2{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    line-height: 27px;
    max-width: 260px;
    margin: 10px;
    align-self: flex-start;
}

.highlights p,
.products .products-container p{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-width: 260px;
    margin: 10px;
    align-self: center;
}

.content-card span,
.highlights span,
.products .products-container span{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: #CB6464;
    text-align: right;
    margin-top: auto;
}

.swiper-button-next, 
.swiper-button-prev{
    color: #7D0202;
    opacity: 0.5;
    font-weight: bolder;
    transition: all .1s ease-in-out;
}
.swiper-button-next:hover, 
.swiper-button-prev:hover{
    opacity: 1;
    transform: scale(1.1);
    text-shadow: 0px 3px 30px rgba(0, 0, 0, 0.25);
}
.swiper-pagination-bullet-active{
    opacity: 1;
    background-color: #7D0202;
}

svg.heart {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 38px;
    height: 38px;
    stroke: #000;
    stroke-width: 1.5;
    stroke-linecap: square;
    stroke-linejoin: miter;
    fill: none;
    color: #000;
    cursor: pointer;
}

svg.active-heart{
    fill: #DC4747;
    stroke: rgba(161, 0, 0, 0.75);
}

/* map */
.localization{
    width: 100%;
    position: relative;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.localization > img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.map-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "map buttons"
        "map ilustration"
    ;
    -moz-column-gap: 25px;
         column-gap: 25px;
    position: relative;
}

.map-container > picture{
    grid-area: ilustration;
    height: 100%;
    transform: translate(-50px, 25px);
}

.map-container > picture img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.map{
    grid-area: map;
    max-width: 870px;
    height: auto;
    padding: 20px 40px;
    background : #fff;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.25);
    border: double 4px transparent;
    background-image: linear-gradient(#fff, #fff), var(--gray-gradient) ;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
.map h2{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.map .address{
    background: #fff;
    padding: 10px;
    border-radius: 18px ;
    box-shadow:  0px 4px 27px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transform: translateY(50%);
  
    border: double 4px transparent;
    background-image: linear-gradient(#fff, #fff), var(--gray-gradient) ;
    background-origin: border-box;
    background-clip: padding-box, border-box;

    font-family: 'Red Hat Display', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 2px;
    color: #6D6D6D;
}

.map .address span{
    display: none;
}

.map-container .buttons{
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}
.map-container .buttons a{
    display: flex;
    -moz-column-gap: 8px;
         column-gap: 8px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 40px;
    border-radius: 8px;
    transition: background-color 0.1s ease-in-out, column-gap 0.3s ease-in-out, padding-left 0.4s ease-in-out;
    transition: background-color 0.1s ease-in-out, column-gap 0.3s ease-in-out, padding-left 0.4s ease-in-out, -moz-column-gap 0.3s ease-in-out;
}
.map-container .buttons a:hover {
    background-color: #fff;
    -moz-column-gap: 0px;
         column-gap: 0px;
}

.map-container .buttons .img-app{
    width: 40px;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.map-container .buttons .img-app img[alt="Google Maps"]{
    width: 17px;
    height: 25px;
}

.map-container .buttons .img-app img[alt="Waze"]{
    width: 44px;
    height: 44px;
}
.map-container .buttons p{
    padding: 5px 10px;
    font-family: 'Red Hat Display', sans-serif;;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.map-container .buttons a:last-child:hover p {
    padding-left: 10px;
}
.map-container .buttons a:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.map-container .buttons a:hover p,
.map-container .buttons a:hover .img-app
{
    box-shadow: none;
}

@media all and (max-width: 1440px) {
    .map-container > picture{
        height: 95%;
        transform: translate(-45px, 25px);
    }
}

@media all and (max-width: 1280px) {
    .map-container > picture{
        height: 70%;
        position: absolute;
        bottom: 5px;
        right: -105px;
    }
    .map-container .buttons{
        width: 200px;
    }
}

@media all and (max-width: 1200px){
    .localization{
        align-items: flex-end;
    }
    .localization > img{
        -o-object-fit: cover;
           object-fit: cover;
    }
    .map-container > picture{
        display: none;
    }
    .map-container{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .map-container .buttons{
        flex-direction: row;
        gap: 25px;
        justify-content: center;
        width: auto;
    }
    .map-container .buttons a:last-child{
        flex-direction: row-reverse;
    }
    
}

@media all and (max-width: 832px) {
    .map h2{
        margin: 0px;
    }
    .map{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media all and (max-width: 620px) {
   .map{
       border-radius: 0px;
       border: none;
       box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
   }
   .map h2{
       font-size: 36px;
   }
   .map .address{
        transform: translateY(0px);
        margin: 20px auto;
        margin-top: 10px;
        border: solid 4px rgba(159,159,159,0.3);
        box-shadow: none;
        background-image: none;
   }
   .map .address p{
       display: none;
   }
   .map .address span{
       display: block;
   }
}

@media all and (max-width: 600px){
    .localization > img{
        height: 111%;
    }
}

@media all and (max-width: 420px) {
    section.highlights{
        margin-bottom: 30px;
    }
    .map-container .buttons{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .map-container .buttons a:last-child{
        flex-direction: row;
    }
    .localization > img{
        height: 120%;
    }
}

/* section products */
section.products{
    max-width: 100%;
    margin-top: 20px;
}

.products-header{
    width: 90%;
    display: flex;
    margin: 10px auto 0;
    justify-content: space-between;    
    position: relative;
}
.filter{
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.products-header .filter p, 
.products-header .filter .option{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 2px;
    color: #232323;
    cursor: pointer;
}

.option{
    display: inline-block;
    width: max-content;
}

.products-header .filter span::after
{
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #000; 
    position: relative;
    right: -8px;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
    margin-right: 5px;
}

.products-header .filter ul{
    display: none;
}
.products-header .filter ul.visible{
    display: block;
    position: absolute;
    top: 30px; left: 154px;
    border-radius: 10px 10px;
    box-shadow: 0px 4px 6px 1.5px rgba(0, 0, 0, 0.25);
    width: -webkit-max-content;
    width: max-content;
    /* width: 200px; */
    height: auto;
    z-index: 1;
    background-color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 2px;
    overflow: hidden;
    cursor: pointer;
}

.products-header .filter ul.visible li{
    padding: 8px 10px;
    position: relative;
}
.products-header .filter ul.visible li:not(:first-child)::before {
    content: "";
    display: block;
    width: calc(100% - 15px);
    height: 1px;
    background-color: #dfdfdf;
    position: absolute;
    bottom: 100%;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
}
.products-header .filter ul.visible li:hover{
    background-color: rgba(223, 223, 223, .4);
}

.products-header svg{
    width: 28px;
    height: 28px;
    stroke: #bfbfbf;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    color: #bfbfbf;
    cursor: pointer;
    margin-left: 10px;
}

.products-header .src-bar{
    display: flex;
    align-items: center;
    width: 380px;
    height: 47px;
    /* border: 2px solid #bfbfbf; */
    border-radius: 50px;
    box-shadow: 0px -5px 50px rgba(0, 0, 0, 0.07);

    border: double 2px transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(150deg, rgba(240,240,240,1) 0%, rgba(159,159,159,0.5) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.products-header .src-bar input{
    width: 80%;
    height: 100%;
    outline: 0;
    padding-left: 10px;
    font-family: 'Red Hat Display', sans-serif;;
    font-size: 16px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 2px;
    color: #b3b3b3;
}

.products-header .focused {
    background-image: linear-gradient(#fff, #fff), linear-gradient(165deg, rgba(240,240,240,1) 0%, rgba(150,0,0,.5) 100%);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.products .products-container{
    margin: 50px auto;
    max-width: 1275px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 300px));
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 35px;
    justify-content: center;
}

.products-container .product-card{
    height: 525px;
}

.products-footer{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: center;
}

.products-footer .page-ind{
    font-family: 'Red Hat Display', sans-serif;;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 3px;
    color: #fff;
    padding: 5px 10px;
    background-color: #FF9E9E;
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, .1);
    border-radius: 25px;
}

.products-footer .next-page{
    font-family: 'Red Hat Display', sans-serif;;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    padding: 5px 10px;
    margin-left: 10px;
    letter-spacing: 2px;
    color: #232323;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, .1);
    border-radius: 25px;
    cursor: pointer;
}

.products-footer .next-page::after{
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #000; 
    margin-left: 8px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
            clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

@media all and (max-width: 768px) {
    .products-header{
        flex-flow: column-reverse nowrap;
        align-items: center;
    }
    .products-header .src-bar{
        margin-top: 10px;
        align-self: center;
    }
   
    .filter{
        margin-top: 20px;
    }
}

@media all and (max-width: 420px) {
    .products-header .src-bar{
        width: 95%;
    }
    .products-header .filter p, 
    .products-header .filter .option{
        font-size: 18px;
        text-align: center;
    }
    .products-header .filter ul.visible{
        width: 170px;
        font-size: 18px;
        left: 100px;
    }
    .products-header .src-bar input{
        width: 78%;
    }
}

/* float menu and social medias */
.social-media{
    display: flex;
    align-items: center;
    position: fixed;
    gap: 10px;
    bottom: 4%;
    right: 2%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-right: 15px;
    background: #FFFFFF;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    z-index: 9;
    overflow: hidden;
}
.social-media li:first-child{
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 0px 9px rgba(0, 0, 0, 0.29);
    border-radius: 15px;
}
.social-media li:first-child picture{
    height: 40px;
}
.social-media li:first-child img{
    width: 74px;
    height: 40px;
}
.social-media li:nth-child(2) a div{
    height: 54px;
    width: 54px;
    background-image: url(../IMG/icones/wpp.png);
    background-image: 
        image-set(
            url(../IMG/icones/wpp.webp) type("image/webp"), 
            url(../IMG/icones/wpp.png) type("image/png")
        );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.social-media li:nth-child(3) a div{
    display: block;
    height: 46px;
    width: 46px;
    background-image: url(../IMG/icones/instagram.png);
    background-image: 
        image-set(
            url(../IMG/icones/instagram.webp) type("image/webp"),
            url(../IMG/icones/instagram.png) type("image/png")
        );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-media li:last-child a div{
    height: 43px;
    width: 43px;
    background-image: url(../IMG/icones/facebook.png);
    background-image: 
        image-set(
            url(../IMG/icones/facebook.webp) type("image/webp"),
            url(../IMG/icones/facebook.png) type("image/png")
        );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.social-media li a div:hover {
    transform: scale(1.05);
}

@media all and (max-width: 920px){
    .social-media{
        position: fixed;
        flex-direction: row;
        padding-right: 10px;
        padding-top: 0px;
        border-radius: 10px;
        bottom: 2%;
        right: 4%;
    }
    .social-media li:first-child{
        padding: 10px;
        border-radius: 10px;
    }
    .social-media li:first-child picture{
        height: 27px;
    }

    .social-media li:first-child img{
        width: 49px;
        height: 27px;
    }
    .social-media li:nth-child(2) a div{
        height: 48px;
        width: 48px;
    }
    .social-media li:nth-child(3) a div{
        height: 40px;
        width: 40px;
    }
    .social-media li:last-child a div{
        height: 37px;
        width: 37px;
    }
}

@media all and (max-width: 620px){
    .social-media{
        gap: 8px;
    }
    .social-media li:nth-child(2) a div{
        height: 45px;
        width: 45px;
    }
    .social-media li:nth-child(3) a div{
        height: 38px;
        width: 38px;
    }
    .social-media li:last-child a div{
        height: 35px;
        width: 35px;
    }
}


/* footer */
footer{
    box-sizing: border-box;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: #7D0202;
    border-radius: 10px 10px 0px 0px;
    padding: 25px 40px 25px 40px;
    margin-top: auto;
}

footer ul li{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #fff;
    text-align: left;
 }
 footer ul li:nth-child(3){
    margin-top: 2px;
}

footer ul li:last-child{
    display: flex; 
    justify-content: center; 
    font-size: 16px; 
}

@media all and (max-width: 600px){
    footer{
        padding: 25px 25px 80px 25px;
    }
    .social-media{
        bottom: 2%;
        left: 4%;
    }
    footer ul li:nth-child(3){
        margin-top: 5px;
    }
    footer ul li{
        font-size: 16px;
    }
    footer ul li:last-child{
        font-size: 14px;
        margin-top: 10px;
    }
}

.contact-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
}

#contact-button{
    cursor: pointer;
}

.contact-container.show{
    display: flex;
}

@-webkit-keyframes contact{
    from{
        opacity: 0;
        transform: translateY(-60px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes contact{
    from{
        opacity: 0;
        transform: translateY(-60px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.show .contact-block{
    -webkit-animation: contact .3s ease-out;
            animation: contact .3s ease-out;
}

.contact-container .contact-block{
    width: min-content;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    position: relative;
    column-gap: 15px;
}

.favorites{
    width: 500px;
    max-height: 500px;
}
.contact-block .favorite-items{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: calc(100% - 48px);
    padding: 15px 20px 15px 0px;
}
.favorite-items .product-card{
    width: max-content;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.favorite-items .product-card .content-card .product-img{
    height: 180px;
}

.favorite-items .product-card .content-card h2{
    font-size: 20px;
    line-height: 20px;
}
.favorite-items .swiper-wrapper{
    height: auto;
}

.favorite-items .product-card:hover{
    transform: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.contact-block .exit{
    font-size: 28px;
    font-family: 'Red Hat Display', sans-serif;
    color: rgba(255,0,0,.5);
    position: absolute;
    top: -25px;
    right: -25px;
    padding: 10px 18px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,.2);
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.contact-block h2{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 2px;
    color: #4e4e4e;
    max-width: 540px;
}

.contact-block h3{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 2px;
    color: #4e4e4e;
    max-width: 380px;
}

.contact-block .form form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: max-content;
}

.contact-block .form input{
    width: 320px;
    height: 50px;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 30px;
    outline: 0;
    padding-left: 20px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 2px;
    color: #b3b3b3;
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.17);
    margin-top: 15px;
}

.contact-block .form button{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 2px;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 10px;
    color: #fff;
    background: #75CC67;
    border: 2px solid #66B859;
    margin-top: 20px;
}

.contact-block .form form p{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 1px;
    color: #757575;
    margin: 10px 0;
    text-decoration: underline;
    cursor: pointer;
}

.contact-block .form p{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 1px;
    color: #757575;
    margin: 40px 0 30px 0;
}

@media all and (max-width: 912px){
    .favorites{
        width: auto;
    }
    .contact-container .contact-block{
        flex-direction: column;
        width: 70%;
        text-align: center;
    }
    .contact-container .contact-block .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-container .contact-block .form form{
        justify-content: center;
        align-items: center;
    }
    .contact-block h2{
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        margin: 0 auto;
    }
    .contact-block h2::after{
        content: '';
        display: block;
        width: 70%;
        height: 2px;
        background-color: #ccc;
        margin: 20px auto;
    }
    .contact-block h2 a{
        color: #D91919;
    }

    .contact-block h3{
        font-size: 20px;
        line-height: 27px;
    }

    .contact-block .form form{ 
        width: 100%;
    }

    .contact-block .form input{
        width: 100%;
        height: 40px;
        font-size: 14px;
        font-weight: 800;
        line-height: 20px;
    }
    
    .contact-block .form button{    
        font-size: 12px;
        line-height: 20px;
    }
    
    .contact-block .form p{
        font-size: 14px;
        line-height: 20px;
        margin: 20px 0;
    }
   
    .favorites .favorite-items{
        display: none;
    }
}

@media all and (max-width: 500px){
    .contact-block .form{ 
        width: 100%;
    }
    .contact-block .exit{
        font-size: 24px;
        top: -15px;
        right: -15px;
        padding: 8px 15px;
    }
}

.arrow{
    width: 42px;
    height: 42px;
    display: flex;
    cursor: pointer;
    position: fixed;
    left: 3%;
    bottom: 1%;
    background: #fff;
    border-radius: 50%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
}

.arrow span{
    width: 12px;
    height: 4px;
    background-color: red;
    transform: rotate(-45deg);
    margin-right: 12.5%;
    border-radius: 5px;
}
.arrow span::after{
    content: "";
    display: block;
    width: 12px;
    height: 4px;
    background-color: inherit;
    transform: rotate(90deg);
    position: relative;
    top: 4px;
    left: 4px;
    border-radius: 5px;
}

@media all and (max-width: 600px){
    .arrow{
        left: auto;
        right: 3%;
    }
}

/* base das demais páginas */
.box{
    transform: translateY(-131px);
    z-index: -1;
}
.box2{
    transform: translateY(-20px);
}

.banner{
    margin: 0 15px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner span{
    position: absolute;
    margin-top: 120px;
    padding: 15px ;
    width: 540px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    box-shadow: 0px 15px 23px -5px rgba(0, 0, 0, 0.25);
    border-radius: 70px;

    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #FFF;

    border: solid 4px transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
.banner img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
@media all and (max-width: 1024px){
    .banner span{
        font-size: 28px;
    }
}

@media all and (max-width: 960px){
    .box{
        transform: translateY(0px);
        margin-top: 15px;
    }
    .banner span{
        margin: 0;
        font-size: 26px;
        width: 400px;
    }
    .banner img{
        border-radius: 15px;
    }
}

@media all and (max-width: 680px){
    .box2{
        transform: translateY(0px);
        margin-top: 30px;
    }
}

@media all and (max-width: 620px){
    .banner span{
        font-size: 24px;
        width: 400px;
        padding: 10px;
    }
}


@media all and (max-width: 480px){
    .banner span{
        font-size: 22px;
        width: 300px;
    }
    .box2{
        margin-top: 25px
    }
}

@media all and (max-width: 370px){
    .banner span{
        font-size: 20px;
        width: 250px;
    }
}
